$white: #FFFFFF;
$orange: #FF9F0D;
$red: #ff0000;
$black: #0D0D0D;
$gray: #808080;
$green: #00ba00;
$blue: #0D69FF;
$dark-gray: #4F4F4F;
$black-gray: #333333;
$silver: #828282;
$light-silver: #E0E0E0;
$gray-tuff: #BDBDBD;
$melt-silver: #ebebeb;
$black-tuf: #1E1E1E;

$trans-white: rgba(255, 255, 255, 0.59);
$trans-white2: rgba(255, 255, 255, 0.49);
$trans-black1: rgba(13, 13, 13, 0.95);
$trans-black2: rgba(13, 13, 13, 0.85);
$trans-black3: rgba(13, 13, 13, 0.90);
$trans-black4: rgba(13, 13, 13, 0.1);
$trans-orange: rgba(255, 159, 13, 0.1);
$trans-orange2: rgba(255, 159, 13, 0.25);