@use './fonts.scss';
@use './modules/normalize.scss';
@use './modules/variables.scss' as var;
@use './modules/templates.scss';
@use './modules/mixins.scss' as mix;
@use './modules/typography.scss';


.logotype {
  @include mix.flex(nowrap, 0px);
  color: var.$white;

  &__right {
    color: var.$orange;
  }
}

.nav-menu {
  @include mix.flex(wrap, 3px 32px);
  align-items: center;

  &__li {
    display: flex;
  }

  &__link {
    color: var.$white;
    padding: 3px 0;

    &--active {
      color: var.$orange;
      font-weight: 700;
      pointer-events: none;
    }
  }
}

.nav-links {
  @include mix.flex(wrap, 16px);
  align-items: center;

  &__link {
    width: 24px;
    height: 30px;
    padding: 3px 0;
  }

  &__icon {
    @extend %wh-100;
    display: block;
    stroke: var.$white;
    stroke-width: 2px;
    fill: transparent;
  }
}

.search {
  width: 24px;
  height: 27px;
  position: relative;

  &__inner {
    @include mix.flex-col(3px);
    position: absolute;
    top: 0px;
    right: calc(100% - 24px);
    width: 27px;
    transition: all 0.25s;
  }

  &__input-area {
    position: relative;
    width: 100%;
  }

  &__input {
    width: 100%;
    background: transparent;
    border-bottom: 1px solid var.$orange;
    height: 31px;
    color: var.$white;
    padding: 0 27px 0 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s;

    &.invalid {
      transition: all 0.2s;
      border-color: var.$red;
    }
  }

  &__submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 27px;
    padding: 3px 0;
  }

  &__submit-icon {
    @extend %wh-100;
    display: block;
    stroke: var.$white;
    stroke-width: 2px;
    fill: transparent;
  }

  &__warning {
    color: var.$red;
    opacity: 0;
    transition: all 0.2s;
    height: 0px;
  }

  &.active, &.focused {

    .search__inner {
      width: 200px;
    }

    .search__input {
      visibility: visible;
      opacity: 1;
    }

    .search__warning.active {
      opacity: 1;
    }
  }
}

.custom-bg {
  position: relative;

  &::before {
    content: '';
    @extend %px-cen;
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    background: var.$black;
    z-index: -1;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  background: var.$black;
  padding: 29px 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &::after {
    content: '';
    @extend %px-cen;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: var.$orange;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.4s;
  }

  &__inner {
    @include mix.flex(nowrap, 29px);
    align-items: center;
    justify-content: space-between;
    width: 1320px;
  }

  &__nav-menu {
    margin: 1px 0 0 83.5px;
    max-width: 600px;
  }

  &__btns {
    @include mix.flex(wrap, 16px);
    align-items: center;
  }

  &.active {
    
    &::after {
      opacity: 1;
    }

  }
}

.header {
  padding: 90px 0 0 0;
}

.mob-navbar {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 16px 20px;
  width: 100%;
  background: var.$black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  &::after {
    content: '';
    @extend %px-cen;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: var.$orange;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.4s;
  }

  &__logotype {
    font-size: 27px;
  }

  &__burger {
    @include mix.flex-col(6px);
    width: 39px;

    &.active {

      .mob-navbar__burger-line {
        background: var.$red;

        &:nth-child(1) {
          transform: rotate(-45deg) translate(3px, -3.5px);
        }

        &:nth-child(2) {
          transition: all 0.2s;
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(45deg);
        }

      }
    }
  }

  &__burger-line {
    will-change: transform;
    transform-origin: right;
    width: 100%;
    height: 5px;
    background: var.$white;
    transition: all 0.3s;
    background: var.$orange;
  }

  &.active {

    &::after {
      opacity: 1;
    }

  }
}

.mob-menu {
  will-change: transform, opacity;
  display: none;
  position: fixed;
  top: 130px;
  left: 0;
  width: 100vw;
  height: 100%;
  background: teal;
  z-index: 9;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;

  &.active {
    transition: all 0.3s;
    visibility: visible;
    opacity: 1;
    transform: translateY(-70px);
  }
}

.list {
  @include mix.flex-col(23px);
  width: 100%;

  &__li {
    @include mix.flex(nowrap, 10px);
    color: var.$white;

    &::before {
      content: '';
      width: 17px;
      height: 12px;
      background: url(../images/icons/ok-sign.svg) 0 0 / contain no-repeat;
      flex-shrink: 0;
      margin: 7px 0 0 0;
    }
  }
}

.main {
  padding: 120px 0;
}

// Media queries

@media (max-width: 1600px) {

  .navbar {

    &__nav-menu {
      margin: 0;
    }
  }

}

@media (max-width: 1400px) {

  .page-wrapper {
    width: 1200px;
  }

  .navbar {

    &__inner {
      width: 1170px;
    }

    &__nav-menu {
      max-width: 505px;
    }
  }

}

@media (max-width: 1200px) {

  .page-wrapper {
    width: 996px;
  }

  .navbar {
    padding: 21px 15px;

    &__inner {
      width: 966px;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      justify-content: space-between;
      gap: 15px 25px;
    }

    &__nav-menu {
      max-width: 100%;
      grid-column: span 2;
      justify-self: center;
      justify-content: center;
    }

    &__btns {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      justify-self: end;
    }
  }

  .header {
    padding: 119px 0 0 0;
  }

}

@media (max-width: 996px) {

  .page-wrapper {
    width: 768px;
  }

  .navbar {

    &__inner {
      width: 738px;
    }
  }

}

@media (max-width: 768px) {

  .page-wrapper {
    width: 576px;
  }

  .header {
    padding: 64px 0 0 0;
  }

  .mob-navbar, .mob-menu {
    display: flex;
  }

  .navbar {
    display: none;
  }

}

@media (max-width: 576px) {

  .page-wrapper {
    width: 420px;
  }

}

@media (max-width: 420px) {

  .page-wrapper {
    width: 320px;
    padding: 0 10px;
  }

}