@use './modules/variables.scss' as var;
@use './modules/mixins.scss' as mix;
@use './modules/templates.scss';


.logotype {
  will-change: transform;
  transition: all 0.2s;

  &__left, &__right {
    transition: all 0.2s;
  }

  &:hover, &:focus {
    transform: scale(1.06);

    .logotype__left {
      color: var.$orange;
    }

    .logotype__right {
      color: var.$white;
    }
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.93);
  }
}

.nav-menu__link {
  will-change: transform;
  transition: all 0.25s;
  position: relative;

  &::after {
    content: '';
    @extend %px-cen;
    position: absolute;
    bottom: 2px;
    width: 0%;
    height: 2px;
    background: var.$white;
    transition: all 0.25s;
  }

  &:not(.nav-menu__link--active) {

    &:hover, &:focus {
      
      color: var.$orange;

      &::after {
        width: 100%;
      }
    }

    &:active {
      transition: all 0.05s;
      transform: translateY(3px);
    }

  }
  
}

.search__submit, .nav-links__link, .soc-line__link {
  will-change: transform;
  transition: all 0.2s;
  
  &-icon, .nav-links__icon, .soc-line__icon {
    transition: all 0.2s;
  }

  &:hover, &:focus {
    transform: scale(1.15);

    .search__submit-icon, .nav-links__icon {
      stroke: var.$orange;
    }

    .soc-line__icon {
      fill: var.$orange;
    }
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.92);
  }
}

.btn-circle {
  will-change: transform;
  transition: all 0.2s;

  &:hover, &:focus {
    transform: scale(1.05);
    border-radius: 10px;
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.92);
  }
}

.scroll-top {
  transition: all 0.3s;

  &:hover, &:focus {
    background: var.$green;
    transform: rotate(0deg) scale(1.06) !important;
  }

  &:active {
    transition: all 0.05s;
    transform: rotate(0deg) scale(0.9) !important;
  }
}

.menu-tabs__button {
  will-change: transform;
  transition: all 0.2s;
  border-radius: 6px;

  &:not(.active) {

    &:hover, &:focus {
      background: var.$orange;
    }

    &:active {
      transition: all 0.05s;
      transform: scale(0.9);
    }

  }
  
}

.menu-item {
  will-change: transform;
  transition: all 0.2s;

  &__name {
    transition: all 0.2s;
    text-decoration: underline solid transparent;
  }

  &__price {
    transition: all 0.2s;
  }

  &:hover {

    .menu-item__name {
      color: var.$orange;
      text-decoration: underline;
    }

    .menu-item__price {
      letter-spacing: 2px;
    }

  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.94);
  }
}

.chef {
  will-change: transform;
  transition: all 0.3s;

  &__image {
    will-change: transform;
    transition: all 0.3s;
  }

  &__info, &__name, &__job {
    transition: all 0.25s;
  }

  &__info {
    outline: 3px solid transparent;
    outline-offset: 0px;
  }

  &:hover {

    .chef__image {
      transform: scale(1.1);
    }

    .chef__info {
      background: var.$orange;
      outline-color: var.$orange;
      outline-offset: 8px;
    }

    .chef__name, .chef__job {
      color: var.$white;
    }
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.93);
  }
}

.outline-btn {
  will-change: transform;
  transition: all 0.2s;

  &:hover, &:focus {
    background: var.$orange;
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.93);
  }
}

.testim-slider .swiper-pagination-bullet {
  will-change: transform;
  transition: all 0.2s;

  &:not(.swiper-pagination-bullet-active) {

    &:hover, &:focus {
      opacity: 1 !important;
    }

    &:active {
      transition: all 0.05s;
      transform: scale(0.8);
    }

  }
}

.video-btn {
  will-change: transform;
  transition: all 0.25s;

  &__icon-wrapper, &__text {
    transition: all 0.25s;
  }

  &:hover, &:focus {

    .video-btn__text {
      color: var.$orange;
    }

    .video-btn__icon-wrapper {
      background: var.$green;
    } 
    
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.9);
  }
}

.video-block__close {
  will-change: transform;
  transition: all 0.2s;

  &:hover, &:focus {
    color: var.$orange;
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.85);
  }
}

.news-card {

  &__title {
    transition: all 0.25s;
    text-decoration: underline transparent;
  }

  &__info {
    transition: all 0.25s;
  }

  &__img {
    will-change: transform;
    transition: all 0.3s;
  }

  &:hover {

    .news-card__img {
      transform: scale(1.1);
    }

    .news-card__info {
      border-color: var.$orange;
    }

    .news-card__title {
      text-decoration: underline;
    }

  }
}

.news-card__link {
  will-change: transform;
  transition: all 0.2s;
  text-decoration: underline transparent;

  &:hover, &:focus {
    text-decoration: underline;
    color: var.$orange;
  }

  &:active {
    transition: all 0.05s;
    transform: translateY(4px);
  }
}

.like-btn, .share-btn__trigger, .news-card__chat, .share-btn__link {
  transition: all 0.2s;

  &__icon, &-icon {
    will-change: transform;
    transition: all 0.2s;
  }

  &:hover, &:focus {

    .like-btn__icon, .share-btn__trigger-icon, .news-card__chat-icon {
      stroke: var.$orange;
    }

    .share-btn__link-icon {
      fill: var.$orange;
    }

  }

  &:active {

    .like-btn__icon, .share-btn__trigger-icon, .news-card__chat-icon, .share-btn__link-icon {
      transition: all 0.05s;
      transform: scale(0.9);
    }
    
  }
}

.email__input {
  transition: all 0.2s;

  &:not([disabled]) {

    &:hover, &:focus {
      background: rgb(255, 125, 11);
    }

  }
}

.email__button {
  transition: all 0.2s;

  &:not([disabled]) {

    &:hover, &:focus {
      background: var.$blue;
      color: var.$white;
    }

    &:active {
      transition: all 0.05s;
      background: var.$white;
      color: var.$blue;
    }

  }
}

.nav-list, .f-posts {

  &__title {
    transition: all 0.2s;
    position: relative;
    width: fit-content;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      background: var.$white;
      border-radius: 10px;
      transition: all 0.2s;
    }
  }

  &:hover {

    .nav-list__title::before, .f-posts__title::before {
      width: 100%;
    }
  }
}

.nav-list__link {
  transition: all 0.2s;

  &:hover, &:focus {
    color: var.$orange;
  }

  &:active {
    text-decoration: underline;
  }
}

.f-posts__link {
  will-change: transform;
  transition: all 0.2s;

  .f-posts__date, .f-posts__name {
    transition: all 0.2s;
  }

  .f-posts__icon {
    transition: all 0.2s;
    outline-offset: -2px;
    outline: 2px solid transparent;
  }

  &:hover, &:focus {

    .f-posts__date {
      color: var.$white;
    }

    .f-posts__name {
      color: var.$orange;
    }

    .f-posts__icon {
      outline-color: var.$orange;
    }
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.96);
  }
}

.f-socials__link {
  will-change: transform;
  transition: all 0.2s;

  .f-socials__icon {
    transition: all 0.2s;
  }

  &:hover, &:focus {
    background: var.$orange;

    .f-socials__icon {
      fill: var.$white;
    }
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.88);
  }
}

.head-line__link {
  transition: all 0.2s;

  &:hover, &:focus {
    color: var.$orange;
  }

  &:active {
    transition: all 0.05s;
    text-decoration: underline;
  }
}

.menu-block {

  &__title {
    transition: all 0.25s;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 3px;
      background: var.$orange;
      transition: all 0.25s;
    }
  }

  &:hover {

    .menu-block__title {
      letter-spacing: 2px;

      &::before {
        width: 100%;
      }
    }

  }
}

.menu-block__item {
  transition: all 0.2s;

  .menu-block__name, .menu-block__price {
    will-change: transform;
    transition: all 0.2s;
  }

  &:hover {
    border-color: var.$black;

    .menu-block__name {
      color: var.$orange;
    }

    .menu-block__price {
      transform: translate(-7px, 13px) scale(1.5);
    }

  }
}

.partners__link {
  will-change: transform;
  transition: all 0.2s;

  &:hover, &:focus {
    transform: scale(1.05);
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.9);
  }
}

.custom-select__body {
  transition: all 0.2s;

  .custom-select__text, .custom-select__icon {
    transition: all 0.2s;
  }

  .custom-select__trigger {
    transition: all 0.3s;
  }

  &:hover {
    border-color: var.$orange;

    .custom-select__text {
      color: var.$black;
    }

    .custom-select__icon {
      stroke: var.$black;
    }
  }
}

.custom-select__variant {
  transition: all 0.2s;

  .custom-select__variant-text {
    transition: all 0.2s;
  }

  &:hover, &:focus {
    background: var.$orange;
    
    .custom-select__variant-text {
      color: var.$white;
    }
  }

}

.market__sidebar {
  transition: all 0.3s;

  &:hover {
    border-color: var.$gray;
  }
}

.shop-search__input {
  transition: all 0.2s;

  &:hover, &:focus {
    background: var.$trans-orange2;
  }
}

.shop-search__submit {
  transition: all 0.2s;

  &:hover, &:focus {
    background: var.$blue;
  }

  &:active {
    transition: all 0.05s;
    background: var.$orange;
  }
}

.check-list__item {

  .check-list__text, .check-list__checkbox {
    transition: all 0.2s;
  }

  &:hover {

    .check-list__text {
      color: var.$orange;
    }

    .check-list__checkbox {
      border-color: var.$orange;
    }
  }
}

.market__panel {

  .market__panel-name {
    transition: all 0.2s;
    text-decoration: underline solid transparent;
  }

  &:hover {

    .market__panel-name {
      text-decoration: underline;
    }
  }
}

.ad-block {
  will-change: transform;
  transition: all 0.2s;

  &__image {
    will-change: transform;
    transition: all 0.3s;
  }

  &__title {
    text-decoration: underline solid transparent;
    transition: all 0.2s;
  }

  &__bot-text, &__icon {
    will-change: transform;
    transition: all 0.2s;
  }

  &:hover, &:focus {

    .ad-block__image {
      transform: scale(1.1);
    }

    .ad-block__title {
      text-decoration: underline;
    }

    .ad-block__bot-text {
      color: var.$orange;
    }

    .ad-block__icon {
      transform: translateX(7px);
      stroke: var.$orange;
    }
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.96);
  }
}

.noUi-handle {
  will-change: transform;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.15);
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.85);
  }
}

.suggestion {
  will-change: transform;
  transition: all 0.2s;

  &__title {
    text-decoration: underline solid transparent;
    transition: all 0.2s;
  }

  &:hover, &:focus {

    .suggestion__title {
      color: var.$orange;
      text-decoration: underline;
    }
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.95);
  }
}

.tags-check__trigger {
  will-change: transform;
  transition: all 0.2s;

  &:hover {
    color: var.$blue;
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.9);
  }
}

.product-card {

  &__image {
    will-change: transform;
    transition: all 0.3s;
  }

  &__name {
    text-decoration: underline solid transparent;
    transition: all 0.2s;
  }

  &:hover {

    .product-card__image {
      transform: scale(1.1);
    }

    .product-card__name {
      color: var.$orange;
      text-decoration: underline;
    }
  }
}

.product-card__btn {
  will-change: transform;
  transition: all 0.2s;

  &-icon {
    transition: all 0.2s;
  }

  &:hover {
    background: var.$orange;

    &.active .product-card__btn-icon {
      fill: var.$white;
    }

    .product-card__btn-icon {
      stroke: var.$white;
    }
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.88);
  }
}

.pagination__btn {
  will-change: transform;
  transition: all 0.2s;

  .pagination__icon {
    transition: all 0.2s;
  }

  &:not([disabled], .active) {

    &:hover, &:focus {
      background: var.$orange;
      border-color: var.$orange;
      color: var.$white;

      .pagination__icon {
        fill: var.$white;
      }
    }

    &:active {
      transition: all 0.05s;
      transform: scale(0.88);
    }

  }
}

.selected-filter__remove {
  transition: all 0.2s;

  &:hover, &:focus {
    background: var.$black;
  }

}

.market__filters-clear {
  will-change: transform;
  transition: all 0.2s;

  &:hover, &:focus {
    background: var.$orange;
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.88);
  }
}

.demo-controls__btn {
  will-change: transform;
  transition: all 0.2s;

  .demo-controls__text, .demo-controls__icon {
    transition: all 0.2s;
  }

  &:not(:disabled) {

    &:hover, &:focus {

      .demo-controls__text {
        color: var.$orange;
      }

      .demo-controls__icon {
        stroke: var.$orange;
      }

    }

    &:active {
      transition: all 0.05s;
      transform: scale(0.9);
    }

  }
  
}

.good-description__reviews {
  display: block;
  will-change: transform;
  text-decoration: underline solid transparent;
  transition: all 0.2s;

  &:hover, &:focus {
    color: var.$orange;
    text-decoration: underline;
  }

  &:active {
    transition: all 0.05s;
    transform: translateY(3px);
  }
}

.counter__btn {
  will-change: transform;
  transition: all 0.2s;

  .counter__btn-icon {
    transition: all 0.2s;
  }

  &:not([disabled]) {

    &:hover, &:focus {
      background: var.$orange;
      border-color: var.$orange;

      .counter__btn-icon {
        stroke: var.$white;
      }
    }

    &:active {
      transition: all 0.05s;
      transform: scale(0.9);
    }

  }
  
}

.counter__input {
  transition: all 0.2s;

  &:hover, &:focus {
    border-color: var.$orange;
  }
}

.common-btn {
  will-change: transform;
  transition: all 0.2s;

  &:hover, &:focus {
    background: var.$blue;
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.9);
  }
}

.common-btn--light {
  will-change: transform;
  transition: all 0.2s;

  .common-btn__text, .common-btn__icon {
    transition: all 0.2s;
  }

  &:hover, &:focus {
    background: none;

    .common-btn__text {
      color: var.$orange;
    }

    .common-btn__icon {
      stroke: var.$orange;
    }
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.92);
  }
}

.info-line__value {
  will-change: transform;
  transition: all 0.2s;
  text-decoration: underline solid transparent;

  &:hover, &:focus {
    color: var.$orange;
    text-decoration: underline;
  }

  &:active {
    transition: all 0.05s;
    transform: translateY(3px);
  }
}

.rounded-socials__link {
  will-change: transform;
  transition: all 0.2s;

  &:hover, &:focus {
    background: var.$orange;
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.9);
  }
}

.demonstrator__img {
  transition: all 0.2s;

  &:hover, &:focus {
    outline-color: var.$orange;
  }

}