@use './modules/variables.scss' as var;
@use './modules/mixins.scss' as mix;
@use './modules/templates.scss';
@use './common.scss';

BODY {
  background: var.$black;
}

.soc-line {
  @include mix.flex-col(25px);
  align-items: center;

  &::before, &::after {
    content: '';
    width: 1px;
    height: 100%;
    background: var.$white;
    margin: 0 0 15px 0;
  }

  &::after {
    margin: 15px 0 0 0;
  }

  &__link {
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  &__icon {
    @extend %wh-100;
    display: block;
    fill: var.$white;
  }
}

.heading {
  @include mix.flex-col(8px);

  &__title, &__cl {
    color: var.$orange;
  }

  &__subtitle {
    color: var.$white;
  }

  &__text {
    margin: 28px 0 0 0;
    color: var.$white;
  }
}

.food-gravity {
  position: relative;
  height: 622px;
  width: 840px;

  &__circle {
    width: 68.81%;
    height: 92.93%;
    border: 2px solid var.$white;
    border-radius: 50%;
    position: absolute;
    left: 4%;
    top: 3.6%;
  }

  &__img {
    will-change: transform;
    display: block;
    position: absolute;
    filter: saturate(1.3);

    &--main {
      width: 70.3585%;
      height: 94.374%;
      left: 12.6%;
      top: 5%;
    }

    &--leaf {
      width: 48.453%;
      height: 99.68%;
      top: 0%;
      left: 51.35%;
    }

    &--leaf-s {
      width: 4.167%;
      height: 4.985%;
      left: 10%;
      top: 76.4%;
    }
    
    &--mint {
      width: 11.43%;
      height: 15.757%;
      left: 7.9%;
      top: 9%;
    }

    &--branch {
      width: 5.953%;
      height: 9.326%;
      top: 58.7%;
      left: 3.1%;
    }

    &--wood {
      width: 8.93%;
      height: 11.737%;
      top: 36.2%;
      left: 0%
    }

  }
}

.btn-circle {
  @extend %flex-cen;
  padding: 18px 25px;
  border-radius: 30px;
  background: var.$orange;
  color: var.$white;
  text-align: center;
}

.index-intro {
  @include mix.flex(nowrap, 30px);
  justify-content: space-between;
  padding: 118px 0;

  &.custom-bg::before {
    background: linear-gradient(var.$trans-black1, var.$trans-black1), 
                url(../images/backgrounds/intro-bg.jpg) 0 center / cover no-repeat;
  }

  &__article {
    @include mix.flex(nowrap, 40px);
    align-self: center;
  }

  &__body {
    @include mix.flex-col(30px);
    max-width: 474px;
    padding: 95px 0;
  }

  &__heading {

    .heading__subtitle {
      font-size: 60px;
      line-height: 68px;
    }
  }

  &__btn-circle {
    width: 190px;
  }

  &__food-gravity {
    flex-shrink: 0;
  }
}

.header {

  &__index-intro {
    margin: 0 -70px;
  }
}

.list {
  @include mix.flex-col(23px);
  width: 100%;

  &__li {
    @include mix.flex(nowrap, 10px);
    color: var.$white;

    &::before {
      content: '';
      width: 17px;
      height: 12px;
      background: url(../images/icons/ok-sign.svg) 0 0 / contain no-repeat;
      flex-shrink: 0;
      margin: 7px 0 0 0;
    }
  }
}

.index-about {
  display: grid;
  grid-template-columns: 1fr 24.394% 24.394%;
  grid-template-rows: 352px 194px;
  gap: 16px;

  &__body {
    @include mix.flex-col(32px);
    grid-row: span 2;
    margin: 0 16% 0 0;
  } 

  &__btn-circle {
    width: 190px;
  }

  &__pic {

    &--big {
      grid-column: span 2;
    }
  }

  &__image {
    @extend %wh-100;
    display: block;
    border-radius: 6px;
    object-fit: scale-down;
    filter: saturate(1.3);

    &.loaded {
      object-fit: cover;
    }
  }
  
}

.cm-slider {
  width: 100%;

  &__slide {
    @extend %wh-100;
    will-change: transform;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: grab;
    transition: all 0.2s;

    &:hover {

      .cm-slider__name, .cm-slider__discount {
        transform: translateX(0);
        opacity: 1;
      }

      .cm-slider__img {
        transform: scale(1.15);
      }
    }

    &:active {
      transition: all 0.07s;
      cursor: grabbing;
      transform: scale(0.93)
    }
  }

  &__img-wrapper {
    @extend %wh-100;
    @include mix.abs();
    border-radius: 6px;
    overflow: hidden;
    z-index: -1;
  }

  &__img {
    @extend %wh-100;
    will-change: transform;
    display: block;
    object-fit: scale-down;
    filter: saturate(1.3);
    transition: all 0.35s;

    &.loaded {
      object-fit: cover;
    }
  }

  &__info {
    @include mix.flex-col(11px);
    align-items: flex-end;
    margin: 0 0 0 10px;
    max-width: 85%;
  }

  &__discount, &__name {
    box-shadow: 0 0 6px var.$gray;
    opacity: 0;
    padding: 7px 19px;
    transition: all 0.25s;
    border-radius: 6px;
  }

  &__discount {
    font-weight: 700;
    color: var.$orange;
    background: var.$white;
    transform: translateX(130px);
  }

  &__name {
    color: var.$white;
    background: var.$orange;
    transform: translateX(-160px);
  }
}

.food-cat {
  @include mix.flex-col(58px);
  width: 100%;
  align-items: center;

  &__heading {
    align-items: center;

    &__title, &__subtitle {
      text-align: center;
    }
  }

  &__cm-slider {
    height: 329px;
  }
}

.icon-text {
  @include mix.flex-col(9px);
  align-items: center;

  &__img-wrapper {
    @extend %flex-cen;
    border-radius: 6px;
    height: 100px;
    min-width: 100px;
    background: var.$orange;
    padding: 15px;
  }

  &__img {
    width: 56px;
    height: 56px;
  }

  &__caption {
    color: var.$white;
    text-align: center;
  }
}

.experience {
  @include mix.flex(nowrap, 27px);
  align-items: center;
  justify-content: center;
  padding: 17px 30px 17px 40px;
  border-radius: 6px;
  overflow: hidden;
  background: var.$white;
  position: relative;

  &::before {
    content: '';
    @include mix.abs();
    width: 10px;
    height: 100%;
    border-radius: 6px 0 0 6px;
    background: var.$orange;
  }

  &__time {
    color: var.$orange;
  }

  &__text {
    font-weight: 400;
    color: var.$black;
  }

  &__bold {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
  }
}

.img-tabs {
  display: grid;
  grid-template-columns: 37.083% 15.579% 15.579% 24.47%;
  grid-template-rows: 49.4% 23% 23%;
  gap: 16px;

  &__pic {
    width: 100%;

    &:nth-child(1) {
      grid-column: span 2;
    }

    &:nth-child(2) {
      grid-column: span 2;
      align-self: end;
    }

    &:nth-child(3) {
      grid-row: span 2;
    }

    &:nth-child(4) {
      grid-column: span 2;
      grid-row: span 2;
    }

  }

  &__image {
    display: block;
    width: 100%;
    border-radius: 6px;
    object-fit: scale-down;
    filter: saturate(1.3);

    &.loaded {
      object-fit: cover;
    }
  }
}

.choose-us {
  @include mix.flex(nowrap, 50px);
  align-items: center;
  justify-content: space-between;

  &__img-tabs {
    max-width: 658px;
  }

  &__article {
    @include mix.flex-col(32px);
    align-items: flex-start;
    max-width: 526px;
  }

  &__icons {
    @include mix.flex(wrap, 33px);
  }

  &__icon-text {
    max-width: 100px;
  }

  &__experience {

    .experience__text {
      max-width: 133px;
    }
  }
}

.stat {
  @include mix.flex-col(22px);
  align-items: center;

  &__icon {
    width: 120px;
    height: 120px;
  }

  &__name {
    color: var.$white;
    text-align: center;
  }

  &__value {
    color: var.$white;
    text-align: center;
  }
}

.stats {
  @include mix.flex(wrap, 80px 100px);
  justify-content: space-between;
  padding: 112px 0;

  &::before {
    background: linear-gradient(var.$trans-black2, var.$trans-black2),
                url(../images/backgrounds/fish-bg.jpg) center 0 / cover no-repeat;
  }

  &__stat--plus {

    .stat__value::after {
      content: '+';
    }
  }
}

.menu-item {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 5px 9px;
  cursor: pointer;

  * {
    pointer-events: none;
  }

  &__icon {
    width: 100%;
    min-height: 79px;
    height: 100%;
    object-fit: scale-down;
    border-radius: 6px;
    grid-row: span 3;
    filter: saturate(1.3);

    &.loaded {
      object-fit: cover;
    }
  }

  &__price {
    font-weight: 700;
  }

  &__name {
    color: var.$white;
  }

  &__text {
    color: var.$white;
  }

  &__price {
    color: var.$orange;
  }
}

.menu-tabs {
  @include mix.flex-col(51px);

  &__controls {
    @include mix.flex(wrap, 15px 90px);
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  &__button {
    font-weight: 400;
    color: var.$white;
    padding: 5px;

    &.active {
      color: var.$orange;
      cursor: auto;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
  }

  &__tab {
    will-change: transform;
    display: grid;
    grid-template-columns: 38.65% 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    align-items: start;
    gap: 32px 27px;
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    transition: all 0.2s;

    &.active {
      transition: all 0.3s;
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }

  &__big-img {
    will-change: filter, transform;
    width: calc(100% - 25px);
    height: 412px;
    border-radius: 10px;
    object-fit: cover;
    grid-row: span 4;
    filter: saturate(1.3);
    transition: all 0.25s;
    transform: scale(1);
    opacity: 1;

    &.active {
      transform: scale(0.7);
      opacity: 0
    }
  }
}

.demo-menu {
  @include mix.flex-col(46px);

  &__heading {
    align-self: center;

    .heading__title, .heading__subtitle {
      text-align: center;
    }
  }
}

.chef {
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 6px;

  &__image {
    display: block;
    @include mix.abs();
    @extend %wh-100;
    z-index: -1;
    object-fit: scale-down;
    filter: saturate(1.3);

    &.loaded {
      object-fit: cover;
    }
  }

  &__info {
    @include mix.flex-col(3px);
    background: var.$white;
    padding: 8px 20px;
    min-width: 181px;
    max-width: 90%;
    align-self: flex-end;
  }

  &__name {
    font-weight: 700;
  }

  &__job {
    line-height: 22px;
  }
}

.outline-btn {
  @extend %flex-cen;
  border-radius: 25px;
  color: var.$white;
  border: 1px solid var.$orange;
  padding: 12px 25px;
  text-align: center;
}

.chefs {
  @include mix.flex-col(56px);
  align-items: center;

  &__heading {
    align-items: center;

    .heading__title, .heading__subtitle {
      text-align: center;
    }
  }

  &__content {
    @include mix.flex(wrap, 24px);
    justify-content: center;
    width: 100%;
    height: 392px;
    overflow: hidden;
    transition: all 0.4s;

    &.active {

      .chefs__chef:nth-child(n + 5) {
        transition: all 0.4s;
        visibility: visible;
        opacity: 1;
      }

    }
  }

  &__chef {
    width: calc(25% - 18px);
    height: 391px;
    cursor: pointer;
    transition: all 0.3s;

    &:nth-child(n + 5) {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__outline-btn {
    width: 155px;
  }
}

// Media queries

@media (max-width: 1600px) {

  .header {

    &__index-intro {
      margin: 0 -13px;
    }
  }

  .food-gravity {
    height: 502px;
    width: 680px;
    align-self: center;
  }

  .index-intro {
    padding: 80px 0;

    &__body {
      padding: 70px 0;
    }
  }

}

@media (max-width: 1400px) {

  .food-gravity {
    height: 490px;
    width: 650px;
  }

  .index-intro {

    &__body {
      padding: 50px 0;
    }
  }

  .food-cat {

    &__cm-slider {
      height: 270px;
    }
  }

  .choose-us {

    &__img-tabs {
      grid-template-columns: 36.1% 15.579% 15.579% 24.47%;
    }
  }

  .menu-tabs {

    &__big-img {
      height: 464px;
    }
  }

}

@media (max-width: 1200px) {

  .food-gravity {
    height: 455px;
    width: 605px;
  }

  .index-intro {
    padding: 60px 0;

    &__body {
      padding: 40px 0;
    }

    &__article {
      gap: 25px;
    }

    &__heading {

      .heading__subtitle {
        font-size: 55px;
        line-height: 62px;
      }
    }
  }

  .index-about {
    grid-template-columns: 1fr 22% 22%;

    &__body {
      margin: 0 6% 0 0;
    }
  }

  .food-cat {

    &__cm-slider {
      height: 235px;
    }
  }

  .choose-us {

    &__img-tabs {
      grid-template-columns: 36.2% 15.579% 15.579% 24.47%;
      gap: 10px;
    }
  }

  .stats {
    padding: 80px 0;
    gap: 50px;
  }

  .menu-tabs {

    &__controls {
      gap: 15px 50px;
    }

    &__tab {
      grid-template-columns: 40% 40%;
      grid-template-rows: repeat(5, auto);
      justify-content: center;
    }

    &__big-img {
      height: 400px;
      width: 100%;
      grid-column: span 2;
      grid-row: 1 / 2;
    }
  }

}

@media (max-width: 996px) {

  .food-gravity {
    height: 315px;
    width: 415px;
  }

  .index-intro {

    &__body {
      padding: 30px 0;
      max-width: 100%;
    }

    &__article {
      gap: 20px;
    }

    &__heading {

      .heading__subtitle {
        font-size: 48px;
        line-height: 56px;
      }
    }
  }

  .index-about {
    display: flex;
    width: 100%;

    &__body {
      margin: 0;
    }

    &__pic {

      &--big {
        grid-column: span 1;
      }
    }

    &__heading {

      .heading__images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 180px;
        gap: 16px;
        margin: 28px 0 0 0;
      }
    }
  }

  .food-cat {
    gap: 40px;

    &__cm-slider {
      height: 240px;
    }
  }

  .choose-us {

    &__article {
      max-width: 100%;
    }

    &__heading {

      .heading__img-tabs {
        grid-template-columns: 37.9% 15.579% 15.579% 24.47%;
        margin: 32px 0 0 0;
      }
    }
  }

  .stat {

    &__icon {
      width: 100px;
      height: 100px;
    }
  }

  .stats {
    padding: 60px 0;
    gap: 30px;

    &__stat {
      width: 150px;
    }
  }

  .menu-tabs {

    &__controls {
      gap: 15px 36px;
    }

    &__tab {
      grid-template-columns: 1fr 1fr;
    }

  }

}

@media (max-width: 768px) {

  .header {

    &__index-intro {
      margin: 0;
    }
  }

  .heading {

    &__text {
      margin: 24px 0 0 0;
    }

    &__food-gravity {
      margin: 24px 0 0 0;
    }
  }

  .food-gravity {
    height: 345px;
    width: 460px;
  }

  .soc-line {
    
    &::before {
      margin: 0 0 5px 0;
    }

    &::after {
      margin: 5px 0 0 0;
    }

  }

  .btn-circle {
    padding: 14px 18px;
  }

  .index-intro {
    flex-direction: column;
    padding: 50px 0;
    gap: 50px;

    &__body {
      padding: 0px 0;
    }
  }

  .index-about {

    &__pic {

      &--big {
        grid-column: span 2;
      }
    }

    &__heading {

      .heading__images {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 240px 130px;
        margin: 24px 0 0 0;
      }
    }

    &__list {
      gap: 10px;
    }
  }

  .cm-slider {

    &__info {
      align-self: flex-end;
      align-items: flex-start;
      gap: 6px;
      margin: 0 0 6px 6px;
    }

    &__discount, &__name {
      opacity: 1;
      transform: none;
      font-size: 15px;
      line-height: 20px;
      padding: 5px 7px;
    }

  }

  .food-cat {
    gap: 35px;

    &__cm-slider {
      height: 190px;
    }
  }

  .choose-us {

    &__heading {

      .heading__img-tabs {
        grid-template-columns: 35.6% 15.579% 15.579% 24.47%;
        margin: 24px 0 0 0;
      }
    }
  }

  .stat {
    gap: 15px;
  }

  .stats {
    gap: 70px 30px;

    &__stat {
      width: calc(50% - 15px);
    }
  }

  .menu-item {
    grid-template-columns: 100px 1fr;
    gap: 5px 15px;

    &__name {
      font-size: 23px;
    }

    &__text {
      font-size: 17px;
      line-height: 20px;
    }

    &__price {
      font-size: 22px;
    }

  }

  .menu-tabs {
    gap: 45px;

    &__controls {
      gap: 10px 36px;
    }

    &__tab {
      display: flex;
      flex-direction: column;
    }

    &__big-img {
      display: none;
    }
  }
  
  .demo-menu {
    gap: 35px;
  }

}

@media (max-width: 576px) {

  .heading {

    &__title {
      font-size: 27px;
      line-height: 32px;
    }

    &__subtitle {
      font-size: 40px;
      line-height: 47px;
    }

    &__text {
      font-size: 15px;
      line-height: 22px;
    }
  }

  .food-gravity {
    width: 100%;
    height: 255px;
  }

  .index-intro {
    padding: 30px 0;
    gap: 45px;

    &__heading {

      .heading__subtitle {
        font-size: 40px;
        line-height: 47px;
      }
    }

    &__article {
      gap: 15px;
    }

    &__btn-circle {
      width: 170px;
    }
  }

  .list {

    &__li {
      font-size: 17px;
      line-height: 23px;

      &::before {
        width: 16px;
        height: 11px;
        margin: 6px 0 0 0;
      }
    }
  }

  .index-about {

    &__body {
      gap: 30px;
    }

    &__heading {

      .heading__images {
        grid-template-rows: 240px 110px;
      }
    }

    &__btn-circle {
      width: 170px;
    }
  }

  .food-cat {
    gap: 30px;
  }

  .choose-us {

    &__heading {

      .heading__img-tabs {
        grid-template-columns: 36.8% 15.579% 15.579% 24.47%;
        gap: 10px;
      }
    }
  }

  .stat {

    &__icon {
      width: 90px;
      height: 90px;
    }
  }

  .stats {
    padding: 50px 0;
    gap: 60px 30px;

    &__stat {
      width: calc(45% - 15px);
    }
  }

  .menu-tabs {

    &__controls {
      gap: 0px 30px;
    }

  }

  .demo-menu {
    gap: 25px;
  }

}

@media (max-width: 420px) {

  .food-gravity {
    height: 193px;
  }

  .btn-circle {
    padding: 12px 16px;
  }

  .index-intro {

    &__article {
      gap: 10px;
    }
  }

  .index-about {

    &__heading {

      .heading__images {
        gap: 10px;
      }
    }
  }

  .cm-slider {

    &__discount, &__name {
      font-size: 17px;
    }

  }

  .food-cat {

    &__cm-slider {
      height: 230px;
    }
  }

  .experience {
    gap: 20px;
    padding: 12px 18px 12px 28px;
  }

  .icon-text {
    
    &__img-wrapper {
      min-width: 75px;
      height: 75px;
    }

    &__img {
      width: 100%;
      height: 100%;
    }

    &__caption {
      font-size: 15px;
      line-height: 18px;
    }
  }

  .choose-us {

    &__icons {
      gap: 20px;
    }

    &__heading {

      .heading__img-tabs {
        grid-template-columns: 34.5% 15.579% 15.579% 24.47%;
        gap: 10px;
      }
    }
  }

  .stat {

    &__icon {
      width: 80px;
      height: 80px;
    }

    &__name {
      font-size: 19px;
      line-height: 25px;
    }

    &__value {
      font-size: 35px;
      line-height: 37px;
    }
  }

  .stats {
    justify-content: center;

    &__stat {
      width: calc(47% - 15px);
    }
  }

  .menu-item {
    grid-template-columns: 90px 1fr;

    &__name {
      font-size: 20px;
    }

    &__text {
      font-size: 16px;
    }

  }

  .menu-tabs {
    gap: 30px;

    &__button {
      padding: 3px;
    }

    &__tab {
      gap: 25px;
    }

  }

}