@use './modules/variables.scss' as var;
@use './modules/mixins.scss' as mix;
@use './modules/templates.scss';
@use './common.scss';

BODY {
  background: var.$black;
}

.soc-line {
  @include mix.flex-col(25px);
  align-items: center;

  &::before, &::after {
    content: '';
    width: 1px;
    height: 100%;
    background: var.$white;
    margin: 0 0 15px 0;
  }

  &::after {
    margin: 15px 0 0 0;
  }

  &__link {
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  &__icon {
    @extend %wh-100;
    display: block;
    fill: var.$white;
  }
}

.heading {
  @include mix.flex-col(8px);

  &__title, &__cl {
    color: var.$orange;
  }

  &__subtitle {
    color: var.$white;
  }

  &__text {
    margin: 28px 0 0 0;
    color: var.$white;
  }
}

.food-gravity {
  position: relative;
  height: 622px;
  width: 840px;

  &__circle {
    width: 68.81%;
    height: 92.93%;
    border: 2px solid var.$white;
    border-radius: 50%;
    position: absolute;
    left: 4%;
    top: 3.6%;
  }

  &__img {
    will-change: transform;
    display: block;
    position: absolute;
    filter: saturate(1.3);

    &--main {
      width: 70.3585%;
      height: 94.374%;
      left: 12.6%;
      top: 5%;
    }

    &--leaf {
      width: 48.453%;
      height: 99.68%;
      top: 0%;
      left: 51.35%;
    }

    &--leaf-s {
      width: 4.167%;
      height: 4.985%;
      left: 10%;
      top: 76.4%;
    }
    
    &--mint {
      width: 11.43%;
      height: 15.757%;
      left: 7.9%;
      top: 9%;
    }

    &--branch {
      width: 5.953%;
      height: 9.326%;
      top: 58.7%;
      left: 3.1%;
    }

    &--wood {
      width: 8.93%;
      height: 11.737%;
      top: 36.2%;
      left: 0%
    }

  }
}

.btn-circle {
  @extend %flex-cen;
  padding: 18px 20px;
  border-radius: 30px;
  background: var.$orange;
  color: var.$white;
  text-align: center;
}

.index-intro {
  @include mix.flex(nowrap, 30px);
  justify-content: space-between;
  padding: 118px 0;

  &.custom-bg::before {
    background: linear-gradient(var.$trans-black1, var.$trans-black1), 
                url(../images/backgrounds/intro-bg.jpg) 0 center / cover no-repeat;
  }

  &__article {
    @include mix.flex(nowrap, 40px);
    align-self: center;
  }

  &__body {
    @include mix.flex-col(30px);
    max-width: 474px;
    padding: 95px 0;
  }

  &__heading {

    .heading__subtitle {
      font-size: 60px;
      line-height: 68px;
    }
  }

  &__btn-circle {
    width: 190px;
  }

  &__food-gravity {
    flex-shrink: 0;
  }
}

.header {

  &__index-intro {
    margin: 0 -70px;
  }
}

.list {
  @include mix.flex-col(23px);
  width: 100%;

  &__li {
    @include mix.flex(nowrap, 10px);
    color: var.$white;

    &::before {
      content: '';
      width: 17px;
      height: 12px;
      background: url(../images/icons/ok-sign.svg) 0 0 / contain no-repeat;
      flex-shrink: 0;
      margin: 7px 0 0 0;
    }
  }
}

.index-about {
  display: grid;
  grid-template-columns: 1fr 24.394% 24.394%;
  grid-template-rows: 352px 194px;
  gap: 16px;

  &__body {
    @include mix.flex-col(32px);
    grid-row: span 2;
    margin: 0 16% 0 0;
  } 

  &__btn-circle {
    width: 190px;
  }

  &__pic {

    &--big {
      grid-column: span 2;
    }
  }

  &__image {
    @extend %wh-100;
    display: block;
    border-radius: 6px;
    object-fit: scale-down;
    filter: saturate(1.3);

    &.loaded {
      object-fit: cover;
    }
  }
  
}

.cm-slider {
  width: 100%;

  &__slide {
    @extend %wh-100;
    will-change: transform;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: grab;
    transition: all 0.2s;

    &:hover {

      .cm-slider__name, .cm-slider__discount {
        transform: translateX(0);
        opacity: 1;
      }

      .cm-slider__img {
        transform: scale(1.15);
      }
    }

    &:active {
      transition: all 0.07s;
      cursor: grabbing;
      transform: scale(0.93)
    }
  }

  &__img-wrapper {
    @extend %wh-100;
    @include mix.abs();
    border-radius: 6px;
    overflow: hidden;
    z-index: -1;
  }

  &__img {
    @extend %wh-100;
    will-change: transform;
    display: block;
    object-fit: scale-down;
    filter: saturate(1.3);
    transition: all 0.35s;

    &.loaded {
      object-fit: cover;
    }
  }

  &__info {
    @include mix.flex-col(11px);
    align-items: flex-end;
    margin: 0 0 0 10px;
  }

  &__discount {
    font-weight: 700;
    color: var.$orange;
    border-radius: 6px;
    background: var.$white;
    padding: 7px 19px;
    transition: all 0.25s;
    transform: translateX(130px);
    opacity: 0;
    box-shadow: 0 0 6px var.$gray;
  }

  &__name {
    color: var.$white;
    border-radius: 6px;
    background: var.$orange;
    padding: 7px 19px;
    transition: all 0.25s;
    transform: translateX(-160px);
    opacity: 0;
    box-shadow: 0 0 6px var.$gray;
  }
}

.food-cat {
  @include mix.flex-col(58px);
  width: 100%;
  align-items: center;

  &__heading {
    align-items: center;

    &__title, &__subtitle {
      text-align: center;
    }
  }

  &__cm-slider {
    height: 329px;
  }
}


// Media queries

@media (max-width: 1600px) {

  .header {

    &__index-intro {
      margin: 0 -13px;
    }
  }

  .food-gravity {
    height: 502px;
    width: 680px;
    align-self: center;
  }

  .index-intro {
    padding: 80px 0;

    &__body {
      padding: 70px 0;
    }
  }

}

@media (max-width: 1400px) {

  .food-gravity {
    height: 490px;
    width: 650px;
  }

  .index-intro {

    &__body {
      padding: 50px 0;
    }
  }

}

@media (max-width: 1200px) {

  .food-gravity {
    height: 455px;
    width: 605px;
  }

  .index-intro {
    padding: 60px 0;

    &__body {
      padding: 40px 0;
    }

    &__article {
      gap: 25px;
    }

    &__heading {

      .heading__subtitle {
        font-size: 55px;
        line-height: 62px;
      }
    }
  }

  .index-about {
    grid-template-columns: 1fr 22% 22%;

    &__body {
      margin: 0 6% 0 0;
    }
  }

}

@media (max-width: 996px) {

  .food-gravity {
    height: 315px;
    width: 415px;
  }

  .index-intro {

    &__body {
      padding: 30px 0;
      max-width: 100%;
    }

    &__article {
      gap: 20px;
    }

    &__heading {

      .heading__subtitle {
        font-size: 48px;
        line-height: 56px;
      }
    }
  }

  .index-about {
    display: flex;
    width: 100%;

    &__body {
      margin: 0;
    }

    &__pic {

      &--big {
        grid-column: span 1;
      }
    }

    &__heading {

      .heading__images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 180px;
        gap: 16px;
        margin: 28px 0 0 0;
      }
    }
  }

}

@media (max-width: 768px) {

  .header {

    &__index-intro {
      margin: 0;
    }
  }

  .heading {

    &__text {
      margin: 24px 0 0 0;
    }

    &__food-gravity {
      margin: 24px 0 0 0;
    }
  }

  .food-gravity {
    height: 345px;
    width: 460px;
  }

  .soc-line {
    
    &::before {
      margin: 0 0 5px 0;
    }

    &::after {
      margin: 5px 0 0 0;
    }

  }

  .btn-circle {
    padding: 14px 18px;
  }

  .index-intro {
    flex-direction: column;
    padding: 50px 0;
    gap: 50px;

    &__body {
      padding: 0px 0;
    }
  }

  .index-about {

    &__pic {

      &--big {
        grid-column: span 2;
      }
    }

    &__heading {

      .heading__images {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 240px 130px;
        margin: 24px 0 0 0;
      }
    }

    &__list {
      gap: 10px;
    }
  }

}

@media (max-width: 576px) {

  .heading {

    &__title {
      font-size: 27px;
      line-height: 32px;
    }

    &__subtitle {
      font-size: 40px;
      line-height: 47px;
    }

    &__text {
      font-size: 15px;
      line-height: 22px;
    }
  }

  .food-gravity {
    width: 100%;
    height: 255px;
  }

  .index-intro {
    padding: 30px 0;
    gap: 45px;

    &__heading {

      .heading__subtitle {
        font-size: 40px;
        line-height: 47px;
      }
    }

    &__article {
      gap: 15px;
    }

    &__btn-circle {
      width: 170px;
    }
  }

  .list {

    &__li {
      font-size: 17px;
      line-height: 23px;

      &::before {
        width: 16px;
        height: 11px;
        margin: 6px 0 0 0;
      }
    }
  }

  .index-about {

    &__body {
      gap: 30px;
    }

    &__heading {

      .heading__images {
        grid-template-rows: 240px 110px;
      }
    }

    &__btn-circle {
      width: 170px;
    }
  }

}

@media (max-width: 420px) {

  .food-gravity {
    height: 193px;
  }

  .btn-circle {
    padding: 12px 16px;
  }

  .index-intro {

    &__article {
      gap: 10px;
    }
  }

  .index-about {

    &__heading {

      .heading__images {
        gap: 10px;
      }
    }
  }

}