@use './modules/variables.scss' as var;
@use './modules/mixins.scss' as mix;
@use './modules/templates.scss';


.logotype, .btn-circle {
  will-change: transform;
  transition: all 0.1s;

  &:active {
    transform: scale(0.9);
  }
}

.soc-line__link {
  will-change: transform;
  transition: all 0.1s;

  .soc-line__icon {
    transition: all 0.1s;
  }

  &:active {
    transform: scale(0.9);

    .soc-line__icon {
      fill: var.$orange;
    }

  }
}

.scroll-top {
  transition: all 0.3s;

  &:active {
    transition: all 0.06s;
    background: var.$green;
  }
}

.menu-tabs__button {
  transition: all 0.05s;

  &:active {
    color: var.$orange;
  }
}

.chef {
  will-change: transform;
  transition: all 0.05s;

  &:active {
    transform: scale(0.9);
  }
}

.testim-slider .swiper-pagination-bullet {
  transition: all 0.2s;

  &:not(.swiper-pagination-bullet-active) {

    &:active {
      transition: all 0.05s;
      opacity: 1 !important;
    }

  }
}

.video-btn {

  &__icon-wrapper, &__text {
    transition: all 0.05s;
  }

  &:active {

    .video-btn__text {
      color: var.$orange;
    }

    .video-btn__icon-wrapper {
      background: var.$green;
    } 
    
  }
}

.outline-btn {
  transition: all 0.05s;

  &:active {
    background: var.$orange;
  }
}

.news-card__link {
  transition: all 0.05s;

  &:active {
    color: var.$orange;
    text-decoration: underline;
  }
}

.like-btn, .share-btn__trigger, .news-card__chat {

  &__icon, &-icon {
    transition: all 0.05s;
  }

  &:active {

    .like-btn__icon, .share-btn__trigger-icon, .news-card__chat-icon {
      stroke: var.$orange;
    }
  }
}

.email__input {
  transition: all 0.2s;

  &:not([disabled]) {

    &:focus {
      background: rgb(255, 125, 11);
    }

  }
}

.email__button {
  transition: all 0.15s;

  &:not([disabled]) {

    &:active {
      background: var.$blue;
      color: var.$white;
    }

  }
}

.nav-menu__link {

  &:active {
    color: var.$orange;
  }
}

.search__input {

  &:focus {
    border-color: var.$orange !important;
  }
}

.search__submit {

  &:active {
    
    .search__submit-icon {
      stroke: var.$orange;
    }

  }
}

.nav-links__link {

  &:active {

    .nav-links__icon {
      stroke: var.$orange;
    }
  }
}

.f-socials__link {
  transition: all 0.05s;

  .f-socials__icon {
    transition: all 0.05s;
  }

  &:active {
    background: var.$orange;

    .f-socials__icon {
      fill: var.$white;
    }

  }
}

.nav-list__link {

  &:active {
    color: var.$orange;
    text-decoration: underline;
  }
}

.f-posts__link {

  &:active {

    .f-posts__name {
      color: var.$orange;
      text-decoration: underline;
    }

  }
}

.head-line__link {
  transition: all 0.05s;

  &:active {
    color: var.$orange;
    text-decoration: underline;
  }
}

.partners__link {
  will-change: transform;
  transition: all 0.05s;

  &:active {
    transform: scale(0.85);
  }
}

.zoom-fs__close-btn {

  &:active {
    color: var.$orange !important;
  }
}

.market__filters-trig, .market__filters-clear, .suggestion {
  will-change: transform;
  transition: all 0.2s;

  &:active {
    transition: all 0.05s;
    transform: scale(0.88);
  }
}

.custom-select__trigger {
  transition: all 0.2s;

  .custom-select__icon {
    will-change: transform;
    transition: all 0.2s;
  }

  .custom-select__text {
    transition: all 0.2s;
  }
}

.custom-select__variant {

  &:active {
    background: var.$light-silver;
  }
}

.product-card__wrapper {

  .product-card__image {
    will-change: transform;
    transition: all 0.3s;
  }

  &:hover {

    .product-card__image {
      transform: scale(1.1);
    }

  }
}

.product-card__btn {
  will-change: transform;
  transition: all 0.2s;

  &:active {
    transition: all 0.05s;
    transform: scale(0.85);
  }

}

.pagination__btn {
  will-change: transform;
  transition: all 0.2s;

  .pagination__icon {
    transition: all 0.2s;
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.87);
    background: var.$orange;
    color: var.$white;
    border-color: var.$orange;

    .pagination__icon {
      fill: var.$white;
    }
  }
}

.market__sidebar-close {
  will-change: transform;

  &:active {
    transition: all 0.05s !important;
    transform: scale(0.8);
  }
}

.shop-search__input {
  transition: all 0.2s;

  &:focus {
    background: var.$trans-orange2;
  }
}

.shop-search__submit {
  transition: all 0.2s;

  &:active {
    transition: all 0.05s;
    background: var.$blue;
  }
}

.tags-check__trigger {
  transition: all 0.2s;
}

.selected-filter__remove {
  transition: all 0.05s;

  &:active {
    background: var.$black;
  }
}